@import "layout-styles";

.footer {
  background: $grey-bg-color;
}

.footer_content {

  font-family: 'Montserrat', sans-serif;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item-block {
    text-align: start;
    padding-top: 30px;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main-color;
    transition: ease-in-out 0.3s;
  }

  .item-link-map:hover, .item-mail:hover {
    color: $accent-color;
    transition: ease-in-out 0.3s;

  }

  .item-link-map:before, .item-phone:before, .item-mail:before {
    color: $grey-text-color;
    content: '●';
    padding-right: 6px;
    padding-left: 6px;
  }

  .item-link-map {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $active-regular-color;

  }

  .item-company {
    color: $grey-text-color;
    text-align: right;
  }

  .item-mail {
    color: $active-regular-color;
    letter-spacing: 1px;
    font-weight: bold;
  }

}

@media screen and (max-width: 375px) {
  .footer_content .item-block {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }
}