@charset "UTF-8";
@import "index";
@import 'layout-styles';
@import 'service-page';
@import url("https://fonts.googleapis.comcss2family=Montserratwght@400;700&display=swap");

.main_content {
  padding-top: 150px;
}

.publications-section {
  background: $grey-bg-color
}

.nav-pages .pages .page a {
  color: $active-regular-color;
}

.nav-link {
  color: $grey-text-color;
  padding: 5px 7px;
}

.publications-section .publications-section_content .publications-panel .item .item-link {
  font-weight: bold;
}

.items {
  li:before {
    color: $grey-separator-color;
    content: "●";
    padding-right: 6px;
    padding-left: 6px;
  }

  .item {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    .adress {
      font-style: normal;
      font-weight: 400;
      color: $grey-text-color;
    }

    .phone {
      font-style: normal;
      font-weight: 700;
      color: $grey-text-color;
    }

    a {
      text-decoration: none;
    }
  }
}

.publications-panel {
  flex-wrap: wrap;

  .item_without-png {
    padding-top: 30px;
  }
}

.publications-section {
  .content_btn {
    text-align: center;
    margin-bottom: 30px;
  }

  .publications-section_content .publications-panel .item {
    width: 30%;
    margin: 15px;
  }
}

.publications-section .publications-section_content .publications-panel .item .language-law-img {
  background: url(../png/Publications/Publication-4.png) no-repeat center;
  background-size: cover;
}

.publications-section .publications-section_content .publications-panel .item .reimbursement-img {
  background: url(../png/Publications/Publication-5.png) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1050px) {

  .main_content {
    padding-top: 260px;
  }

  .publications-section .publications-section_content .publications-panel .item {
    width: 47%;
    margin: 0;
    margin-bottom: 30px;
  }

  .header_content {
    flex-direction: column-reverse;

  }
  .header__nav-bar {
    justify-content: start;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .items {
      padding: 0;

      .adress {
        color: $grey-text-color;
      }
    }
  }
  .nav-pages {
    top: 130px;
    position: absolute;

    .pages {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .publications-section .publications-section_content .publications-panel .item {
    width: 47%;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 375px) {
  .publications-section .publications-section_content .publications-panel .item {
    width: 100%;
    margin: 0 0 30px;
  }
}